* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;

  font-family: "Inter", sans-serif;

  background: #020617;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  font-family: inherit;
}